body {
    background-color: #0a0a0a;
    color: #fff;
    font-family: Arial, sans-serif;
}

.hero {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #42a5f5;
}

.btn-container {
    margin: 20px 0;
}

.btn {
    background-color: #42a5f5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.features {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.feature {
    background-color: #1a1a1a;
    padding: 15px;
    margin: 5px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
}

/* ting    */
.page-title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

/*.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1rem;
}

.card {
    background-color: #1e1e2f;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .card:hover {
        transform: translateY(-5px);
    }*/

.icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 0.5rem;
}

.info p {
    margin: 0.25rem 0;
}

.external-link {
    font-size: 0.85rem;
    color: #6ca0ff;
    text-decoration: none;
}

    .external-link:hover {
        text-decoration: underline;
    }

.positive {
    color: #2ecc71;
}

.negative {
    color: #e74c3c;
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* jjj*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.card {
    background-color: #1e1e2f;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    color: white;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
}

    .card:hover {
        transform: scale(1.05);
    }
